<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
  <div class="main-content">
    {{>header}}
    <p>This is the about page of the weather app</p>
    <img class="portrait" src="/images/dancer-1904467_640.png" alt="">
  </div>
  {{>footer}}
</body>

</html>