<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
  <div class="main-content">
    {{>header}}
    <p>
      A simple weather app that uses geo data from <a href="https://mapbox.com">Mapbox</a> and <a
        href="https://darksky.net" class="">DarkSky</a>
    </p>
    <img class="portrait" src="/images/dancer-1904467_640.png" alt="">
  </div>
  {{>footer}}
</body>

</html>