<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
  <div class="main-content">
    {{>header}}
    <p>This is from handlebars</p>
  </div>
  <script src="/js/app.js"></script>
  {{>footer}}
</body>

</html>